# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Build artifacts
build/
dist/
.build/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.swiftpm

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

/_bmad*
/.agent*
